/* 해야할것: 좌우 위아래 정렬하기, 모서리 둥글게, 이미지 넣기, 버튼 그림자 넣기 */

.container {
    /* 네모상자 모서리 둥글게,, */
    border-radius: 60px;
}

.h1 {
    color: navy;
}

.upload-area {
    font-weight: 700;
}

.upload-button {
    background-color: rgb(35, 35, 187);
    color: rgb(207, 213, 236);
}

span {
    color: navy;
    font-weight: 600;
}

.save {
    width: 300px;
    height: 30px;
    padding: 0 0 0 0;

    color: white;
    background-color: rgb(49, 116, 49);
    box-shadow: 5000px 100px 30px 0;
}




/* 중앙, 왼쪽정렬 */
fieldset {
    text-align: center;
}

.checkboxS {
    text-align: left;
}